:host {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);
}

.bookshelf-section__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  column-gap: var(--space-xs);
  row-gap: var(--space-xs);
}
