.bookshelf__buttons,
.bookshelf__content {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;

}

.bookshelf__content {
  row-gap: var(--space-m);
  column-gap: var(--space-xl);
}

.bookshelf__buttons {
  column-gap: var(--space-xs);
  row-gap: var(--space-xs);
}

.bookshelf_about {
  width: 50%;
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xs);
}