:host {
    display: flex;
    flex-direction: column;
    row-gap: var(--space-xs);
}

.bookshelf-section__list {
    display: grid;
    column-gap: var(--space-s);
    row-gap: var(--space-s);
    grid-template-columns: repeat(3, 1fr);
}

@media only screen and (max-width: 1200px) {
    .bookshelf-section__list {
        display: grid;
        column-gap: var(--space-s);
        row-gap: var(--space-s);
        grid-template-columns: repeat(2, 1fr);
    }
}

@media only screen and (max-width: 720px) {
    .bookshelf-section__list {
        display: grid;
        column-gap: var(--space-s);
        row-gap: var(--space-s);
        grid-template-columns: 1fr;
    }
}