.content-box {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-blue);
  display: inline-block;
  padding-inline: var(--space-m);
  padding-bottom: var(--space-m);
}

.content-box legend {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-blue);
  paint-order: stroke fill;
  padding-inline: var(--space-s);
  margin-left: calc(-1 * var(--space-s));
  margin-bottom: var(--space-xs);
  display: inline-flex;
  align-items: center;
  flex-direction: row;
  column-gap: var(--space-xxs);
}

.content-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box--gutter {
  margin-bottom: var(--space-m);
}

.content-box--tooltip {
  transform: translateY(2px);
  position: relative;
  padding: var(--space-xxs);
}

.content-box--tooltip::before {
  display: none;
  content: attr(data-text);
  position: absolute;
  top: 100%;
  left: -325%;
  width: 140px;
  padding: var(--space-xs);
  background: var(--color-background-main);
  backdrop-filter: blur(4px);
  color: var(--color-text-main);
  text-align: center;
  font-size: 0.8rem;
  border: 1px solid var(--color-magenta);
  box-shadow: 4px 4px 0px rgba(255, 255, 255, 0.2);
}

.content-box--tooltip:hover::before {
  display: block;
}
