.content-box {
  box-sizing: border-box;
  position: relative;
  width: 100%;
  border-width: 1px;
  border-style: solid;
  border-color: var(--color-blue);
  display: inline-block;
  padding-inline: var(--space-m);
  padding-bottom: var(--space-m);
}

.content-box legend {
  -webkit-text-stroke-width: 2px;
  -webkit-text-stroke-color: var(--color-blue);
  paint-order: stroke fill;
  padding-inline: var(--space-s);
  margin-left: calc(-1 * var(--space-s));
  margin-bottom: var(--space-s);
}

.content-box img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.content-box--gutter {
  margin-bottom: var(--space-m);
}
