@font-face {
  font-family: 'PixelOperator';
  src: url("/assets/PixelOperator.ttf");
  font-weight: 400;
}

@font-face {
  font-family: 'PixelOperator';
  src: url("/assets/PixelOperator-Bold.ttf");
  font-weight: 600;
}

@font-face {
  font-family: 'VT323';
  src: url("/assets/VT323.ttf");
  font-weight: 400;
}

:root {
  --color-blue: #0A22ED;
  --color-green: #29F52E;
  --color-cyan: #2CF7F6;
  --color-magenta: #F527F4;
  --color-yellow: #F7F536;
  --color-red: #FF323F;
  --color-black: #000000;
  --color-text-main: #F5F5F5;
  --color-text-sub: #B7B7B7;
  --color-text-button: #FFFFFF;
  --color-background: #0c0c0e;
  --color-background-main: rgba(12, 12, 14, 0.8);
  --color-border: #4A4A4A;
  --space-xxs: 4px;
  --space-xs: 8px;
  --space-s: 12px;
  --space-m: 20px;
  --space-l: 32px;
  --space-xl: 48px;
  --cursor-pointer: url("/assets/cursor_pointer.png"), pointer;
  --cursor-default: url("/assets/cursor_default.png"), default;
  --scroll-text-from: 40%;
  --scroll-text-to: -100%;
  --thumbnail-size: 52px;
}

body {
  letter-spacing: 0.06rem;
  background: var(--color-background);
  background-image: url("/assets/bg_tile.jpg");
  background-repeat: repeat;
  background-size: 150px 150px;
  color: var(--color-text-sub);
  margin: 0;
  font-family: "PixelOperator", -apple-system, BlinkMacSystemFont, 'Segoe UI', Helvetica, Arial, sans-serif, 'Apple TextColor Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
  cursor: var(--cursor-default);
}

a {
  text-decoration: none;
}

a,
button {
  cursor: var(--cursor-pointer);
}

p {
  margin: var(--space-s) 0;
}