main {
  width: 82.5%;
  max-width: 1366px;
  margin: var(--space-xl) auto;
  display: block;
  box-sizing: border-box;
  background-color: var(--color-background-main);
  border: 1px solid var(--color-border);
  box-shadow: rgba(150, 150, 255, 0.1) 0px 4px 16px;
}

.loading-screen {
  padding: var(--space-l);
}

@media only screen and (max-width: 720px) {
  main {
    width: 92.5%;
    margin: var(--space-m) auto;
  }
}