.game-data--wrapper,
.game-data--container,
.random-image {
  display: flex;
  flex-direction: column;
}

.random-image {
  row-gap: var(--space-xs);
}

.game-data--wrapper {
  row-gap: var(--space-m);
}

.game-data--container {
  row-gap: var(--space-xxs);
}

.unwind-zone--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: var(--space-m);
}

.unwind-zone--column {
  flex: 1
}