app-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: var(--space-l);
  padding: var(--space-l);
}

.app-layout--static-content,
.app-layout--page-content {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  row-gap: var(--space-m);
}

.nav-items--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-items--item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: var(--space-xxs);
}

@media only screen and (max-width: 600px) {

  app-layout {
    grid-template-columns: 1fr;
  }

  .app-layout--page-content {
    padding-right: var(--space-m);
  }
}
