app-layout {
  display: grid;
  grid-template-columns: 1fr 4fr;
  column-gap: var(--space-l);
  padding: var(--space-l);
}

.app-layout--static-content,
.app-layout--page-content {
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  row-gap: var(--space-m);
}

.nav-items--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.nav-items--item-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  row-gap: var(--space-xxs);
}

.nav-items--item-container:hover app-text {
  color: var(--color-green);
}

.link-items-wrapper {
  display: flex;
  flex-direction: column;
  row-gap: var(--space-xxs);
}

.link-items-wrapper a {
  width: 88px;
  height: 31px;
  transition: border 0.12s;
  border-width: 2px;
  border-style: solid;
  border-color: transparent;
}

.link-items-wrapper a:hover {
  border-color: var(--color-green);
}

@media only screen and (max-width: 720px) {

  app-layout {
    grid-template-columns: 1fr;
  }

  .app-layout--page-content {
    padding-right: var(--space-m);
  }
}
