.home-wrapper{
  display: grid;
  grid-template-columns: 1fr 1.25fr;
  gap: var(--space-l);
  height: 100%;
}
.intro-description strong:nth-of-type(1) {
  color: var(--color-yellow);
}
.intro-description strong:nth-of-type(2) {
  color: var(--color-red);
}

.home-content-left {
  display: flex;
  flex-flow: column;
}

.home-content-left-details {
  margin-top: var(--space-m);
  column-count: 2;
  gap: var(--space-m);
  flex: 1 1 auto;
}

.home-content-left-details img{
  width: 200px;
  height: 200px;
}

.special-button{
  margin-bottom: var(--space-m);
  text-align: center;
  background-color: var(--color-background);
  padding: var(--space-s) var(--space-m);
  border: 2px solid var(--color-green);
}