.song-data--wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: var(--space-s);
  text-decoration: none;
  margin-bottom: var(--space-xxs);
}

.song-data--right {
  display: flex;
  flex-direction: column;
}

.song-data--right {
  row-gap: var(--space-xxs);
}

.song-data--left {
  width: 25%;
  height: 25%;
  min-width: var(--thumbnail-size);
  min-height: var(--thumbnail-size);
  max-width: 80px;
  max-height: 80px;
}

.song-data--right {
  flex-grow: 1;
}