.game-data--container,
.random-image {
  display: flex;
  flex-direction: column;
}

.random-image {
  row-gap: var(--space-xs);
}

.game-data--wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: var(--space-m);
  row-gap: var(--space-m);
}

.personal--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: var(--space-m);
}

.personal--column {
  flex: 1
}

.personal--column:last-of-type {
  flex: 2
}

@media only screen and (max-width: 1200px) {
  .game-data--wrapper {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 520px) {
  .game-data--wrapper {
    grid-template-columns: 1fr;
  }
}