.book-data--container,
.book-data--wrapper,
.game-data--container,
.game-data--wrapper,
.random-image {
  display: flex;
  flex-direction: column;
}

.random-image {
  row-gap: var(--space-xs);
}

.book-data--wrapper,
.game-data--wrapper {
  align-items: center;
  row-gap: var(--space-m);
}

.book-data--container {
  row-gap: var(--space-xxs);
}

.book-data--container {
  justify-content: center;
}

.personal--wrapper {
  display: flex;
  flex-direction: row;
  column-gap: var(--space-m);
}

.personal--column {
  flex: 1
}